#lessons-page {
  margin-top: 20px; }
  #lessons-page .btn-add-lesson {
    width: 100%; }
  #lessons-page .btn-modify-lesson {
    width: 463px; }
  #lessons-page .btn-expand-lesson {
    width: 52px;
    float: right; }
  #lessons-page .btn-group-vertical {
    display: block; }
    #lessons-page .btn-group-vertical .btn {
      margin-bottom: 5px; }
  #lessons-page .btn-group {
    width: 100%; }
  #lessons-page .classes-container {
    margin-top: -5px;
    margin-bottom: 10px;
    background-color: #FFF;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; }
    #lessons-page .classes-container h5 {
      font-weight: bold;
      margin: 0 0 5px; }

/*# sourceMappingURL=lesson.css.map */
