@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("../fonts/BebasNeue.otf");
html, body {
  height: 100%;
  background-color: white; }

h1, h2 {
  font-family: "Bebas Neue";
  font-weight: normal;
  text-align: center; }

h2 {
  font-size: 3em; }

h1 {
  font-size: 4em; }

#wrapper {
  margin-top: 60px;
  height: 100%; }

#map {
  height: 100%; }

.alert {
  padding: 10px 35px 10px 15px; }

.btn {
  border-radius: 0; }
  .btn.btn-default {
    border: 1px solid #ddd; }
  .btn.btn-primary {
    background-color: #006acc;
    border: 1px solid #006acc; }

.modal-content {
  border-radius: 3px; }

.navbar-default {
  background-color: #0084FF;
  color: #ffffea; }
  .navbar-default .navbar-nav {
    letter-spacing: 1px;
    text-transform: uppercase; }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active a:hover, .navbar-default .navbar-nav > .active a:focus {
      background-color: #339dff; }
    .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active a:focus {
      color: #006acc; }
    .navbar-default .navbar-nav > li {
      border-right: 1px solid #0077e6;
      border-left: 1px solid #0077e6; }
      .navbar-default .navbar-nav > li > a {
        color: #ffffea; }
        .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
          background-color: #1a90ff;
          color: #ffff84; }
      .navbar-default .navbar-nav > li + li {
        border-left: none; }

.navbar-static-top {
  margin-bottom: 0; }

.navbar-default .navbar-brand {
  color: #ffffea;
  font-family: "Lobster", sans-serif; }
  .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffff84; }

#sidebar-wrapper {
  background-color: #003459; }
  #sidebar-wrapper .sidebar-brand {
    background-color: #00528c;
    color: #eeeeee;
    line-height: 1em;
    height: initial;
    padding: 10px 0; }
    #sidebar-wrapper .sidebar-brand:nth-of-type(2) {
      border-top: 3px solid #0084FF; }

hr {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
  border-top: 1px solid #777777; }

.form-control {
  padding: 5px 8px;
  border-radius: 0; }

#page-content-wrapper {
  position: relative;
  padding-top: 50px; }

[ui-view] {
  height: 100%; }

.container-padding {
  padding: 20px; }

.super-sidebar {
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 60px;
  bottom: 0;
  width: 350px;
  padding: 20px;
  box-shadow: 0 0 10px #333;
  background: white;
  overflow: scroll; }
  .super-sidebar h3 {
    margin-top: 0;
    font-size: 2.5em;
    font-family: "Bebas Neue"; }
  .super-sidebar h4 {
    margin-top: 20px;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .super-sidebar .fa-times {
    cursor: pointer;
    float: right; }

h1, h2 {
  margin-top: 8px; }

.axis text {
  font: 8px sans-serif; }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges; }

.x .axis path {
  display: none; }

.title rect {
  fill: steelblue; }

.bar rect {
  fill: #F1F1F1; }

a.active {
  fill: #F00; }

.title text {
  fill: white; }

svg text {
  font-size: 1.5em; }

.link {
  fill: #2a6496; }

#statistic-page {
  margin-top: 20px; }

/*# sourceMappingURL=main.css.map */
