#rooms-page {
  margin-top: 20px; }
  #rooms-page .btn-add-room, #rooms-page .btn-modify-room {
    width: 100%; }
  #rooms-page .btn-group-vertical {
    display: block; }
    #rooms-page .btn-group-vertical .btn {
      margin-bottom: 5px; }

/*# sourceMappingURL=room.css.map */
