.schedule-control {
  position: fixed;
  margin-top: -85px;
  z-index: 2;
  width: 100%;
  background-color: #efefef; }
  .schedule-control > .row {
    margin: 0 -10px;
    height: 43px;
    line-height: 40px; }
    .schedule-control > .row > [class^="col"] {
      height: 100%; }
  .schedule-control .s-date-info {
    font-size: 1.2em;
    margin: 0 10px;
    display: inline;
    height: 43px; }
  .schedule-control .s-room-info {
    height: 43px;
    padding: 0 10px;
    display: inline;
    border-right: 1px dashed #ccc; }
    .schedule-control .s-room-info #s-room-name {
      display: inline;
      width: auto; }

.table {
  position: relative; }
  .table.table-schedule {
    margin-top: 85px; }
    .table.table-schedule > tbody {
      position: relative; }
      .table.table-schedule > tbody > tr > td {
        padding: 0; }
    .table.table-schedule .s-row-marker, .table.table-schedule .s-row-time {
      border-bottom: 1px dashed #ccc;
      height: 50px;
      line-height: 50px;
      text-align: center; }
    .table.table-schedule .s-row-time {
      background-color: #fff; }
    .table.table-schedule .s-col-time {
      min-width: 50px;
      width: 50px; }
    .table.table-schedule .s-col-day {
      width: 175px;
      position: relative; }
      .table.table-schedule .s-col-day.active {
        background-color: rgba(0, 150, 255, 0.1); }
    .table.table-schedule .btn-add-schedule-s {
      opacity: 0;
      height: 50px;
      width: 100%; }
      .table.table-schedule .btn-add-schedule-s:hover {
        opacity: 1; }
    .table.table-schedule .btn-modify-schedule, .table.table-schedule .btn-modify-maintenance {
      position: absolute;
      width: 100%;
      border-radius: 0;
      box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
      transition: 0.2s all ease;
      overflow: hidden;
      min-height: 50px;
      text-align: left;
      vertical-align: top; }
      .table.table-schedule .btn-modify-schedule:hover, .table.table-schedule .btn-modify-maintenance:hover {
        box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.3); }
      .table.table-schedule .btn-modify-schedule span, .table.table-schedule .btn-modify-maintenance span {
        white-space: pre-wrap; }
  .table.table-header {
    position: fixed;
    z-index: 1;
    margin-top: -43px;
    text-align: center;
    font-weight: bold; }
    .table.table-header > tbody > tr {
      position: absolute;
      top: 0;
      left: 0;
      background-color: #fff; }
      .table.table-header > tbody > tr > td {
        padding: 10px; }

/*# sourceMappingURL=schedule.css.map */
