@import "_variables.scss";
@import "font-awesome/_variables.scss";

#lessons-page {
	margin-top: 20px;

	.btn-add-lesson {
		width: 100%;
	}

	.btn-modify-lesson {
		width: 463px;
	}

	.btn-expand-lesson {
		width: 52px;
		float: right;
	}

	.btn-group-vertical {
		display: block;

		.btn {
			margin-bottom: 5px;
		}
	}

	.btn-group {
		width: 100%;
	}

	.classes-container {
		margin-top: -5px;
		margin-bottom: 10px;
		background-color: #FFF;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;

		h5 {
			font-weight: bold;
			margin: 0 0 5px;
		}
	}
}
