@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("../fonts/BebasNeue.otf");
@import "_variables.scss";
@import "font-awesome/_variables.scss";

$brand-primary-dark: #003459;
$brand-primary-darker: #00171F;

html, body {
	height: 100%;
	background-color: white;
}

h1, h2 {
	font-family: "Bebas Neue";
	font-weight: normal;
	text-align: center;
}

h2 {
	font-size: 3em;
}

h1 {
	font-size: 4em;
}

#wrapper {
	margin-top: 60px;
  height: 100%;
}

#map {
  height: 100%;
}

.alert {
    padding: 10px 35px 10px 15px;
}

.btn {
	border-radius: 0;

	&.btn-default {
		border: 1px solid #ddd;
	}

	&.btn-primary {
		background-color: darken($brand-primary, 10%);
		border: 1px solid darken($brand-primary, 10%);
	}

}

.modal-content {
	border-radius: 3px;
}

.navbar-default {
	background-color: $brand-primary;
	color: $body-bg;

	.navbar-nav {
		letter-spacing: 1px;
		text-transform: uppercase;

		> .active {
			> a, a:hover, a:focus {
				background-color: lighten($brand-primary, 10%);
			}

			> a:hover, a:focus {
				color: darken($brand-primary, 10%);
			}
		}

        > li {
			> a {
                color: $body-bg;

				&:hover, &:focus {
					background-color: lighten($brand-primary, 5%);
					color: darken($body-bg, 20%);
				}
			}

			& + li {
				border-left: none;
			}

			border-right: 1px solid darken($brand-primary, 5%);
			border-left: 1px solid darken($brand-primary, 5%);
		}
	}
}
.navbar-static-top {
	margin-bottom: 0;
}

.navbar-default .navbar-brand {
    color: $body-bg;
	font-family: "Lobster", sans-serif;

    &:hover, &:focus {
        color: darken($body-bg, 20%);
    }
}

#sidebar-wrapper {
	background-color: $brand-primary-dark;

	.sidebar-brand {
		background-color: lighten($brand-primary-dark, 10%);
		color: $gray-lighter;
		line-height: 1em;
		height: initial;
		padding: 10px 0;

		&:nth-of-type(2) {
			border-top: 3px solid $brand-primary;
		}
	}

}

hr {
	margin-top: 10px;
	margin-bottom: 0;
	padding: 0;
	border-top: 1px solid $gray-light;
}

.form-control {
	padding: 5px 8px;
	border-radius: 0;
}

#page-content-wrapper {
    position: relative;
    padding-top: 50px;
}

[ui-view] {
  height: 100%;
}

.container-padding {
	padding: 20px;
}

.super-sidebar {
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 60px;
  bottom: 0;
  width: 350px;
  padding: 20px;
  box-shadow: 0 0 10px #333;
  background: white;
  overflow: scroll;

  h3 {
  	margin-top: 0;
  	font-size: 2.5em;
  	font-family: "Bebas Neue";
  }

  h4 {
  	margin-top: 20px;
  	margin-bottom: 0;
  	text-transform: uppercase;
  	letter-spacing: 1px;
  }

  .fa-times {
  	cursor: pointer;
		float: right;
  }
}

h1, h2 {
  margin-top: 8px;
}

.axis text {
  font: 8px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x .axis path {
  display: none;
}

.title rect {
  fill: steelblue;
}

.bar rect {
  fill: #F1F1F1;
}

a.active {
  fill: #F00;
}

.title text {
  fill: white;
}

svg text {
  font-size: 1.5em;
}

.link {
  fill: #2a6496;
}

#statistic-page {
    margin-top: 20px;
}