@import "_variables.scss";
@import "font-awesome/_variables.scss";

#rooms-page {
	margin-top: 20px;

	.btn-add-room, .btn-modify-room {
		width: 100%;
	}

	.btn-group-vertical {
		display: block;

		.btn {
			margin-bottom: 5px;
		}
	}
}
