@import "_variables.scss";
@import "font-awesome/_variables.scss";

.schedule-control {
    position: fixed;
    margin-top: -85px;
    z-index: 2;
    width: 100%;
    background-color: #efefef;

    > .row {
        margin: 0 -10px;
        height: 43px;
        line-height: 40px;

        > [class^="col"] {
            height: 100%;
        }
    }

    .s-date-info {
        font-size: 1.2em;
        margin: 0 10px;
        display: inline;
        height: 43px;
    }

    .s-room-info {
        height: 43px;
        padding: 0 10px;
        display: inline;
        border-right: 1px dashed #ccc;

        #s-room-name {
            display: inline;
            width: auto;
        }
    }
}

.table {
    position: relative;

    &.table-schedule {
        margin-top: 85px;

        > tbody {
            position: relative;

            > tr {
                > td {
                    padding: 0;
                }
            }
        }

        .s-row-marker, .s-row-time {
            border-bottom: 1px dashed #ccc;
            height: 50px;
            line-height: 50px;
            text-align: center;
        }

        .s-row-time {
            background-color: #fff;
        }

        .s-col-time {
            min-width: 50px;
            width: 50px;
        }

        .s-col-day {
            width: 175px;
            position: relative;

            &.active {
                background-color: rgba(0,150,255,0.1);
            }
        }

        .btn-add-schedule-s {
            opacity: 0;
            height: 50px;
            width: 100%;

            &:hover {
                opacity: 1;
            }
        }

        .btn-modify-schedule, .btn-modify-maintenance {
            position: absolute;
            width: 100%;
            border-radius: 0;
            box-shadow: 1px 2px 2px rgba(0,0,0,0.3);
            transition: 0.2s all ease;
            overflow: hidden;
            min-height: 50px;
            text-align: left;
            vertical-align: top;

            &:hover {
                box-shadow: 1px 3px 8px rgba(0,0,0,0.3);
            }

            span {
                white-space: pre-wrap;
            }
        }
    }

    &.table-header {
        position: fixed;
        z-index: 1;
        margin-top: -43px;
        text-align: center;
        font-weight: bold;

        > tbody {
            > tr {
                position: absolute;
                top: 0;
                left: 0;
                background-color: #fff;

                > td {
                    padding: 10px;
                }
            }
        }
    }
}