<div class="container" id="lessons-page">
    <div class="row">
        <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-primary btn-lg btn-add-lesson" data-toggle="modal" data-target="#modal-add-lesson"><i class="fa fa-plus"></i> Tambah Kuliah</button>
                    <!-- Modal Tambah Kuliah-->
                    <div class="modal fade" id="modal-add-lesson" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Penambahan Data Kuliah</h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal" role="form">
                                        <div class="alert alert-danger" role="alert" ng-show="(error.onAddingLesson !== '')">
                                            {{error.onAddingLesson}}
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Kode Kuliah:</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="kodeKuliah" ng-model="newLesson.code">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Nama Kuliah:</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="namaKuliah" ng-model="newLesson.name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Kelompok Jurusan:</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="kelompokJurusan" ng-model="newLesson.course">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                                            <button type="button" class="btn btn-primary" ng-click="addLesson(newLesson)">Tambahkan</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3>Kuliah Terdaftar:</h3>
                    <input type="text" class="form-control input-lg" placeholder="cari kode kuliah di sini..." ng-model="searchQuery" style="margin-bottom: 10px"/>
                    <div class="well">
                        <div class="btn-group-vertical" role="group">
                            <div ng-repeat="l in data | filter:searchQuery">
                                <div class="btn-group" role="group">
                                    <button class="btn btn-info btn-lg btn-modify-lesson" data-toggle="modal" data-target="#modal-modify-lesson-{{l.id}}">{{ frontData[data.indexOf(l)].code }} - {{ frontData[data.indexOf(l)].name }}</button>
                                    <button class="btn btn-primary btn-lg btn-expand-lesson" ng-click="isCollapsed = !isCollapsed" title="Klik untuk melihat kelas"><i class="fa fa-chevron-down"></i></button>
                                </div>
                                <div class="well classes-container" uib-collapse="isCollapsed">
                                    <h5>Kelas dari {{l.code}}:</h5>
                                    <div class="btn-group btn-group-justified">
                                        <span ng-repeat="c in l.classes track by c.id">
                                            <button class="btn btn-danger btn-modify-class" data-toggle="modal" data-target="#modal-modify-class-{{l.id}}-{{c.id}}">K{{c.id}}</button>
                                            <div class="modal fade" id="modal-modify-class-{{l.id}}-{{c.id}}" role="dialog">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title">Pengubahan Data Kelas</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="alert alert-danger" role="alert" ng-show="(error.onModifyingClass !== '')">
                                                                {{error.onModifyingClass}}
                                                            </div>
                                                            <form class="form-horizontal" role="form">
                                                                <div class="form-group">
                                                                    <label class="col-sm-3 control-label">Jumlah Siswa:</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="number" class="form-control" id="jumlahMahasiswa" ng-model="c.studentCount" min="0" max="500">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-3 control-label">Dosen:</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" class="form-control" id="dosen" ng-model="c.lecturer">
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-danger pull-left" ng-click="deleteClass(l.id, c.id)"><i class="fa fa-trash"></i> Hapus</button>
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                                                                    <button type="button" class="btn btn-primary" ng-click="saveClass(c)">Simpan Pengubahan</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </span>
                                        <span>
                                            <button class="btn btn-primary btn-add-class" data-toggle="modal" data-target="#modal-add-class-{{l.id}}"><i class="fa fa-plus"></i></button>
                                            <div class="modal fade" id="modal-add-class-{{l.id}}" role="dialog">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title">Penambahan Data Kelas</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="alert alert-danger alert-dismissible" role="alert" ng-show="(error.onAddingClass !== '')">
                                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                {{error.onAddingClass}}
                                                            </div>
                                                            <form class="form-horizontal" role="form">
                                                                <div class="form-group">
                                                                    <label class="col-sm-3 control-label">Jumlah Siswa:</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="number" class="form-control" id="jumlahMahasiswa" ng-model="l.newClass.studentCount" min="0" max="500">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-3 control-label">Dosen:</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" class="form-control" id="dosen" ng-model="l.newClass.lecturer">
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                                                                    <button type="button" class="btn btn-primary" ng-click="addClass(l.newClass)">Tambahkan Kelas</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                <!-- Modal Modifikasi-->
                                <div class="modal fade" id="modal-modify-lesson-{{l.id}}" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Pengubahan Data Kuliah</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="alert alert-danger alert-dismissible" role="alert" ng-show="(error.onModifyingLesson !== '')">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    {{error.onModifyingLesson}}
                                                </div>
                                                <form class="form-horizontal" role="form">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Kode Kuliah:</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" id="kodeKuliah" ng-model="l.code">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Nama Kuliah:</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" id="namaKuliah" ng-model="l.name">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Kelompok Jurusan:</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" id="kelompokJurusan" ng-model="l.course">
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger pull-left" ng-click="deleteLesson(l.id)"><i class="fa fa-trash"></i> Hapus</button>
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                                                        <button type="button" class="btn btn-primary" ng-click="saveLesson(l)">Simpan Pengubahan</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.btn-group-vertical -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

