<div class="container-fluid" id="rooms-page">
    <div class="row">
        <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-primary btn-lg btn-add-room" data-toggle="modal" data-target="#modal-add-room"><i class="fa fa-plus"></i> Tambah Ruangan</button>
                    <!-- Modal Tambah Ruangan-->
                    <div class="modal fade" id="modal-add-room" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Penambahan Data Ruangan</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="alert alert-danger" role="alert" ng-show="(error.onAddingRoom !== '')">
                                        {{error.onAddingRoom}}
                                    </div>
                                    <form class="form-horizontal" name="addingRoom" role="form">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Kode Ruangan:</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="kodeRuangan" ng-model="newRoom.name">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Kapasitas:</label>
                                            <div class="col-sm-9">
                                                <input type="number" class="form-control" name="kapasitasRuangan" ng-model="newRoom.capacity" min="30" max="100">
                                                <span class="error">{{(addingRoom.kapasitasRuangan.$error.max ? 'Maksimal 100.' : '')}}</span>
                                                <span class="error">{{(addingRoom.kapasitasRuangan.$error.min ? 'Minimal 30.' : '')}}</span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                                    <button type="button" class="btn btn-primary" ng-click="addRoom(newRoom)">Tambahkan</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3>Ruangan Terdaftar:</h3>
                    <input type="text" class="form-control input-lg" placeholder="cari ruangan di sini..." ng-model="searchQuery" style="margin-bottom: 10px"/>
                    <div class="well">
                        <div class="btn-group-vertical" role="group">
                            <div ng-repeat="(k, r) in data.rooms | filter:{name:searchQuery} | orderBy:'name'">
                                <button type="button" style="position:relative" class="btn {{(frontData.rooms[data.rooms.indexOf(r)].condition === 'Baik') ? 'btn-info' : 'btn-danger'}} btn-lg btn-modify-room" data-toggle="modal" data-target="#modal-modify-room-{{r.id}}">
                                    <span class="label label-primary" style="position: absolute; right: 10px; top: 13px;" >K: {{frontData.rooms[data.rooms.indexOf(r)].capacity}}</span>
                                    <span class="label label-default" style="position: absolute; left: 10px; top: 13px;" ng-show="frontData.rooms[data.rooms.indexOf(r)].condition !== 'Baik'">Rusak</span>
                                    {{ frontData.rooms[data.rooms.indexOf(r)].name }}
                                </button>
                                <!-- Modal Modifikasi-->
                                <div class="modal fade" id="modal-modify-room-{{r.id}}" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Pengubahan Data Ruangan</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="alert alert-danger" role="alert" ng-show="(error.onModifyingRoom !== '')">
                                                    {{error.onModifyingRoom}}
                                                </div>
                                                <form class="form-horizontal" name="modifyRoom" role="form">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Kode Ruangan:</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" id="kodeRuangan" ng-model="r.name">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Kapasitas:</label>
                                                        <div class="col-sm-9">
                                                            <input type="number" class="form-control" name="kapasitasRuangan" ng-model="r.capacity" min="30" max="100">
                                                            <span class="error">{{(modifyRoom.kapasitasRuangan.$error.max ? 'Maksimal 100.' : '')}}</span>
                                                            <span class="error">{{(modifyRoom.kapasitasRuangan.$error.min ? 'Minimal 30.' : '')}}</span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Kondisi:</label>
                                                        <div class="col-sm-9">
                                                            <input type="radio" id="pwd" name="kondisi" value="Baik" ng-model="r.condition"> Baik <br>
                                                            <input type="radio" id="pwd" name="kondisi" value="Rusak" ng-model="r.condition"> Rusak <br>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger pull-left" ng-click="deleteRoom(r.id)"><i class="fa fa-trash"></i> Hapus</button>
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                                                        <button type="button" class="btn btn-primary" ng-click="saveRoom(r)">Simpan Pengubahan</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.btn-group-vertical -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>