<div class="schedule-control">
    <div class="row {{(getRoomCondition(currentRoomId) === 'Rusak') ? 'bg-danger' : ''}}">
        <div class="col-sm-6">
            <button class="btn btn-default" ng-click="showPreviousWeek()"><i class="fa fa-chevron-left"></i></button>
            <button class="btn btn-default" ng-click="showNextWeek()"><i class="fa fa-chevron-right"></i></button>
            <div class="s-room-info">Ruangan:
                <select class="form-control" id="s-room-name" ng-change="changeRoom(currentRoomId)" ng-model="currentRoomId" ng-options="r.id as r.name for r in data.rooms">
                </select>
            </div>
            <div class="s-date-info">
                {{data.dateRange}}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="pull-right">
                <span class="label label-danger" ng-show="getRoomCondition(currentRoomId) === 'Rusak'">RUANGAN SEDANG RUSAK</span>
                <button class="btn btn-default" id="btn-add-maintenance" data-toggle="modal" data-target="#modal-add-maintenance"><i class="fa fa-plus"></i> Tambah Perbaikan</button>
                <button class="btn btn-primary" id="btn-add-schedule" data-toggle="modal" data-target="#modal-add-schedule"><i class="fa fa-plus"></i> Tambah Jadwal</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-add-schedule" tabindex="-1" role="dialog" aria-labelledby="modal-add-schedule-title">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <form class="form-horizontal" id="add-schedule-form">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modal-add-schedule-title">Tambah Jadwal</h4>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger" role="alert" ng-show="(error.onAddingSchedule !== '')">
                {{error.onAddingSchedule}}
            </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Mata Kuliah:</label>
                    <div class="col-sm-4">
                        <select class="form-control" name="es-lesson" ng-model="newSchedule.lessonId" ng-options="l.id as (l.code + ' - ' + l.name) for l in lessons" >
                        </select>
                    </div>
                    <label class="col-sm-2 control-label">Kelas:</label>
                    <div class="col-sm-4">
                        <select class="form-control" name="es-class" ng-model="newSchedule.classNo" ng-options="c.id as ('K' + c.id) for c in getCurrentClasses(newSchedule.lessonId)">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Pengulangan:</label>
                    <div class="col-sm-10">
                          <label class="radio-inline">
                            <input type="radio" ng-model="newSchedule.occurence" name="as-repeat" id="as-repeat" value="ONCE">
                            Satu kali
                          </label>
                          <label class="radio-inline">
                            <input type="radio" ng-model="newSchedule.occurence" name="as-repeat" id="as-repeat" value="DAILY">
                            Setiap hari
                          </label>
                          <label class="radio-inline">
                            <input type="radio" ng-model="newSchedule.occurence" name="as-repeat" id="as-repeat" value="WEEKLY">
                            Setiap minggu
                          </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Tanggal Mulai:</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" ng-model="newSchedule.startDate" name="es-start-date" />
                    </div>
                    <label class="col-sm-2 control-label">Tanggal Berakhir:</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" ng-model="newSchedule.endDate" name="es-end-date" ng-disabled="newSchedule.occurence == 'ONCE'"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Jam Mulai:</label>
                    <div class="col-sm-4">
                        <input type="time" class="form-control" ng-model="newSchedule.startHour" name="es-start-hour" step="3600">
                    </div>
                    <label class="col-sm-2 control-label text-right">
                        Jam Berakhir:
                    </label>
                    <div class="col-sm-4">
                        <input type="time" class="form-control" ng-model="newSchedule.endHour" name="es-end-hour" step="3600">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Ruangan:</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="es-rooms" ng-model="newSchedule.roomId" ng-options="r.id as r.name for r in newSchedule.availableRooms">
                        </select>
                    </div>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
            <button type="submit" class="btn btn-primary" ng-click="addSchedule(newSchedule)">Simpan Pengubahan</button>
          </div>
        </form>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-add-maintenance" tabindex="-1" role="dialog" aria-labelledby="modal-add-maintenance-title">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <form class="form-horizontal" id="add-maintenance-form" ng-submit="addMaintenance(newMaintenance)">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modal-add-maintenance-title">Tambah Perbaikan</h4>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger" role="alert" ng-show="(error.onAddingMaintenance !== '')">
                {{error.onAddingMaintenance}}
            </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Tanggal:</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" name="es-start-date" ng-model="newMaintenance.startDate" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Jam Mulai:</label>
                    <div class="col-sm-4">
                        <input type="time" class="form-control" name="es-start-hour" ng-model="newMaintenance.startHour" />
                    </div>
                    <label class="col-sm-2 control-label text-right">
                        Jam Berakhir:
                    </label>
                    <div class="col-sm-4">
                        <input type="time" class="form-control" name="es-end-hour" ng-model="newMaintenance.endHour" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Ruangan:</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="es-rooms" ng-model="newMaintenance.roomId" ng-options="r.id as r.name for r in data.rooms" disabled>
                        </select>
                    </div>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
            <button type="submit" class="btn btn-primary">Simpan Pengubahan</button>
          </div>
        </form>
    </div>
  </div>
</div>
<table class="table table-bordered table-condensed table-schedule table-header">
    <tbody>
        <tr>
            <td class="s-col-time">T</td>
            <td class="s-col-day" ng-repeat="d in data.days track by d.id">{{d.name}}</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped table-bordered table-condensed table-schedule">
    <tbody>
        <tr>
            <td class="s-col-time"></td>
            <td colspan=8>
                <div class="s-row-marker" ng-repeat="h in availableHours"></div>
            </td>
        </tr>
        <tr style="position:absolute;top:0;left:0">
            <td class="s-col-time">
                <div class="s-row-time" ng-repeat="h in availableHours">{{parseTime(h)}}</div>
            </td>
            <td class="s-col-day {{isToday(d.id) ? 'active' : ''}}" ng-repeat="(dId, d) in data.days track by d.id">
                <div ng-repeat="h in availableHours">
                    <button class="btn btn-default btn-add-schedule-s" ng-click="showAddSchedule(d.id, h)" style="top: {{(h - data.startHour)*50}}px"><i class="fa fa-plus"></i></button>
                </div>

                <div ng-repeat="(lId, lesson) in d.scheduled">
                    <button
                        class="btn btn-info btn-modify-schedule"
                        id="{{lesson.lessonId}}"
                        title="{{lesson.name}}"
                        data-toggle="modal" data-target="#modal-edit-schedule-{{d.id}}-{{lesson.lessonId}}"
                        style="top: {{(lesson.startHour - data.startHour) * 50}}px; height: {{(lesson.endHour - lesson.startHour) * 50}}px"

                            <span class="label label-primary lesson-code">{{lesson.code}}</span>
                            <span class="lesson-class">K{{lesson.classNo}}</span> -
                            <span class="lesson-name">{{lesson.name}}</span>

                    </button>
                    <div class="modal fade" id="modal-edit-schedule-{{d.id}}-{{editData.days[dId].scheduled[lId].lessonId}}" tabindex="-1" role="dialog" aria-labelledby="editScheduleTitle-{{d.id}}-{{editData.days[dId].scheduled[lId].lessonId}}">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <form class="form-horizontal" id="edit-schedule-form-{{d.id}}-{{editData.days[dId].scheduled[lId].lessonId}}" ng-submit="saveSchedule(editData.days[dId].scheduled[lId].roomId, editData.days[dId].scheduled[lId])">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="editScheduleTitle-{{d.id}}-{{editData.days[dId].scheduled[lId].lessonId}}">Edit Jadwal</h4>
                              </div>
                              <div class="modal-body">
                                <div class="alert alert-danger" role="alert" ng-show="(error.onModifyingSchedule !== '')">
                                    {{error.onModifyingSchedule}}
                                </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Mata Kuliah:</label>
                                        <div class="col-sm-4">
                                            <select class="form-control" name="es-lesson" ng-model="editData.days[dId].scheduled[lId].lessonId" ng-options="l.id as (l.code + ' - ' + l.name) for l in lessons" >
                                            </select>
                                        </div>
                                        <label class="col-sm-2 control-label">Kelas:</label>
                                        <div class="col-sm-4">
                                            <select class="form-control" name="es-class" ng-model="editData.days[dId].scheduled[lId].classNo" ng-options="c.id as ('K' + c.id) for c in getCurrentClasses(editData.days[dId].scheduled[lId].lessonId)">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Tanggal:</label>
                                        <div class="col-sm-10">
                                            <input type="date" class="form-control" name="es-date" ng-model="editData.days[dId].scheduled[lId].startDate" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Jam Mulai:</label>
                                        <div class="col-sm-4">
                                            <input type="time" class="form-control" name="es-start-hour" ng-model="editData.days[dId].scheduled[lId].startHour">
                                        </div>
                                        <label class="col-sm-2 control-label text-right">
                                            Jam Berakhir:
                                        </label>
                                        <div class="col-sm-4">
                                            <input type="time" class="form-control" name="es-end-hour" ng-model="editData.days[dId].scheduled[lId].endHour">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Ruangan:</label>
                                        <div class="col-sm-10">
                                           <select class="form-control" name="es-rooms" ng-model="editData.days[dId].scheduled[lId].roomId" ng-options="r.id as r.name for r in editData.days[dId].scheduled[lId].availableRooms">
                                           </select>
                                        </div>
                                    </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-danger pull-left" ng-click="deleteSchedule(editData.days[dId].scheduled[lId].scheduleId)"><i class="fa fa-trash"></i> Hapus</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                                <button type="submit" class="btn btn-primary">Simpan Pengubahan</button>
                              </div>
                          </form>
                        </div>
                      </div>
                    </div>
                </div>

                <div ng-repeat="(mId, maintenance) in d.maintenances">
                    <button
                        class="btn btn-danger btn-modify-maintenance"
                        id="{{maintenance.perbaikan_no}}"
                        title="{{maintenance.name}}"
                        data-toggle="modal" data-target="#edit-maintenance-{{d.id}}-{{maintenance.perbaikan_no}}"
                        style="top: {{(maintenance.startHour - data.startHour) * 50}}px; height: {{(maintenance.endHour - maintenance.startHour) * 50}}px">
                            Perbaikan
                    </button>
                    <div class="modal fade" id="edit-maintenance-{{d.id}}-{{maintenance.perbaikan_no}}" tabindex="-1" role="dialog" aria-labelledby="editMaintenanceTitle-{{d.id}}-{{editData.days[dId].scheduled[mId].perbaikan_no}}">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <form class="form-horizontal" id="edit-maintenance-form-{{d.id}}-{{editData.days[dId].maintenances[mId].perbaikan_no}}" ng-submit="saveMaintenance(currentRoomId, editData.days[dId].maintenances[mId])">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="editMaintenanceTitle-{{d.id}}-{{editData.days[dId].maintenances[mId].perbaikan_no}}">Edit Perbaikan</h4>
                              </div>
                              <div class="modal-body">
                                <div class="alert alert-danger alert-dismissible" role="alert" ng-show="(error.onModifyingMaintenance !== '')">
                                    {{error.onModifyingMaintenance}}
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Tanggal:</label>
                                    <div class="col-sm-10">
                                        <input type="date" class="form-control" name="es-date" ng-model="editData.days[dId].maintenances[mId].startDate" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Jam Mulai:</label>
                                    <div class="col-sm-4">
                                        <input type="time" class="form-control" name="es-start-hour" ng-model="editData.days[dId].maintenances[mId].startHour">
                                    </div>
                                    <label class="col-sm-2 control-label text-right">
                                        Jam Berakhir:
                                    </label>
                                    <div class="col-sm-4">
                                        <input type="time" class="form-control" name="es-end-hour" ng-model="editData.days[dId].maintenances[mId].endHour">
                                    </div>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-danger pull-left" ng-click="deleteMaintenance(editData.days[dId].maintenances[mId].perbaikan_no)"><i class="fa fa-trash"></i> Hapus</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                                <button type="submit" class="btn btn-primary">Simpan Pengubahan</button>
                              </div>
                            </form>
                        </div>
                      </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>