<div class="container" id="statistic-page">
    <div class="alert alert-danger" role="alert" ng-show="(error.onGettingRoomsUsage !== '')">
        {{error.onGettingRoomsUsage}}
    </div>
    <div class="alert alert-danger" role="alert" ng-show="(error.onGettingRoomsUsageByGroup !== '')">
        {{error.onGettingRoomsUsageByGroup}}
    </div>
    <div class="alert alert-danger" role="alert" ng-show="(error.onGettingBrokenRooms !== '')">
        {{error.onGettingBrokenRooms}}
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="pull-right">
                Tahun:
                <select id="s-statistic-year" ng-change="changeYear(currentYear)" ng-model="currentYear" ng-options="y for y in data.years">
                </select>
            </div>
        </div>
    </div>
	<div class="row">
		<div class="col-sm-6" ng-hide="(error.onGettingRoomsUsage !== '')">
			<h4>Statistik Penggunaan Ruangan Tahun {{currentYear}}</h4>
			<canvas id="bar" class="chart chart-bar"
			  chart-data="roomUsageStatistic.data" chart-labels="roomUsageStatistic.labels">
			</canvas>
		</div>
		<div class="col-sm-6" ng-hide="(error.onGettingRoomsUsageByGroup !== '')">
			<h4>Statistik Ruangan Rusak Tahun {{currentYear}}</h4>
			<canvas id="bar" class="chart chart-bar"
			  chart-data="brokenRoomsStatistic.data" chart-labels="brokenRoomsStatistic.labels">
			</canvas>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-sm-offset-2 col-sm-8" ng-hide="(error.onGettingBrokenRooms !== '')">
			<h4>Statistik Penggunaan Ruangan oleh Kelompok Jurusan Tertentu</h4>
			<canvas id="bar" class="chart chart-bar"
			  chart-data="roomUsageByGroupStatistic.data" chart-labels="roomUsageByGroupStatistic.labels">
			</canvas>
		</div>
	</div>
</div>